body {
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.canvas-container {
    align-items: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 300px;
    margin: 0 25px 25px 0;
    width: 300px;
}